<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
    <a href="/upload">upload</a>
    <a href="/filemanager">filemanager</a>
    <a href="/info">info</a>
</nav>
{{{body}}}
</body>
