<aside>
    <h1>Filemanager</h1>
    <a class="fmgr-btn" href="/deleteFilesData">Delete files data from table</a>
    <a href="https://icons8.com">Icons from icons8.com</a>
</aside>
<main>
        <table>
            <tr>
                <th>id</th>
                <th>icon</th>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
            {{#each files}}
                {{> infoPartial}}
            {{/each}}
        </table>
    
</main>