<h1>filemanager</h1> 
<table>
{{#each files}}
<tr>
    <td>{{name}}</td>
    <td>{{size}}</td>
    <td>{{type}}</td>
     <td><a>delete</a></td>
     <td><a>info</a></td>
     <td><a>download</a></td>
</tr>
{{/each}}
</table>