<aside>multiupload</aside>
<main>
    <h1>Upload your files to server:</h1>
    <form enctype="multipart/form-data" method="POST" action="/handleUpload">
    <input type="file" required accept="*/*" name="filetoupload" multiple>
    <input type="submit" name="submit" id="submit">
    </form>
    
</main>